{% extends 'refinery/base.html' %}
{% load static %}

{% block content %}


<!--Jumbotron section STARTS-->
<div class="container-fluid" id="services">
    <div class="dark-overlay-pages"></div>
    <div class="container">
        <div class="row hero-2">
            <div class="col-12 overlay" id="subheader-text">
                <h5>Our Services</h5>
            </div>
        </div>
    </div>
</div>

<!--Jumbotron section ENDS-->

<!--Sub-header text section STARTS-->

<div class="container-fluid" id="services-header">
    <div class="row">
        <div class="col-12">
            <h5>We Provide Tank Storage Solution</h5>
            
            <p>At FortOilStorage, we handle and store essential goods that support a wide range of industries, including food production, housing and construction, healthcare, and personal care, among others. Our facilities are designed to provide secure, reliable, and efficient storage, ensuring that products move seamlessly through the supply chain to reach the markets and consumers who depend on them every day. By combining modern infrastructure with operational expertise, we meet the evolving needs of our stakeholders while maintaining the highest standards of quality, safety, and compliance.</p>

            <p>We are committed to long-term relevance and sustainability by anticipating changes in environmental, social, and governance requirements. FortOilStorage invests in digital solutions, streamlined processes, and eco-conscious practices, delivering storage services that not only safeguard products but also contribute to a more sustainable and efficient future. Our approach ensures that clients, partners, and communities benefit from integrated solutions that advance global energy and commodity logistics.</p>
        </div>
    </div>
</div>
<!--Sub-header text section ENDS-->

<!--Handling section STARTS-->

<div class="container-fluid" id="handling">
    <div class="container">
        <div class="row psy-5 pcy-2">

            <div class="col-lg-6">
                <img src="{% static 'pictures/services1.jpg' %}" class="d-block w-100" alt="...">
            </div>

            <div class="col-lg-6 pst-3">
                <h4>Handling Of Storage</h4>

                <p>FortOilStorage provides comprehensive storage services in Singapore and at strategic locations worldwide, including the Netherlands, Fujairah, and Houston. Our facilities are designed to meet the precise requirements of our customers, featuring seamless connections for barges, ships, trains, and trucks, flexible operating hours, and efficient loading and unloading capabilities. Safety is at the core of every operation, and our team ensures that every product stored is handled with the utmost care, delivering reliable and high-quality service at all times.</p>

                <p>Our tank storage network offers a wide range of capacities and configurations, allowing us to handle diverse products such as fuel oil, middle distillates, edible and vegetable oils, base oils, oleochemicals, non-hazardous chemicals, biodiesel, liquid agricultural products, and other petroleum products. With modern infrastructure and strategic locations, FortOilStorage provides customers with integrated storage solutions that support global logistics, streamline supply chains, and maintain the highest standards of safety and operational excellence.</p>
            </div>

        </div>
    </div>
</div>

<!--Handling section ENDS-->


<!--Counter section STARTS-->
   <div class="container-fluid" id="enhanced">
        <div class="row psy-5 psx-5 pcx-2 pcy-2" data-aos="fade-in" data-aos-delay="100">
            <div class="col-lg-12">
                <h4>Our enhanced scale combined with high-quality assets, low breakeven pricing, and experienced leadership make us a premier operator in the region.</h4>
            </div>
        </div>
    </div>

    <div class="container-fluid" id="counts">
        <div class="row counters py-5" data-aos="fade-in" data-aos-delay="200">

            <div class="col-lg-12 text-center">
                <h5>Operational Highlights</h5>
            </div>

            <div class="col-lg-3 col-6 col-12 text-center msb-3 pcy-2">
                <div> <i class="fa-solid fa-warehouse"></i></div>
                <span data-purecounter-start="1000" data-purecounter-end="904633" data-purecounter-duration="1" data-purecounter-currency="false" data-purecounter-currencysymbol="%" class="purecounter" data-purecounter-separator="true" data-purecounter-decimals="0"></span><span>m3</span>
                <p>Storage Capacity</p>
            </div>

            <div class="col-lg-3 col-6 col-12 text-center msb-3 pcy-2">
                <div><i class="fa-solid fa-database"></i></div>
                <span data-purecounter-start="1" data-purecounter-end="277" data-purecounter-duration="1" data-purecounter-currency="false" data-purecounter-currencysymbol="%" class="purecounter" data-purecounter-separator="true" data-purecounter-decimals="0"></span>
                <p>Storage Tanks</p>
            </div>

            <div class="col-lg-3 col-6 col-12 text-center msb-3 pcy-2">
                <div><i class="fa-solid fa-map-pin"></i></div>
                <span data-purecounter-start="1" data-purecounter-end="10" data-purecounter-duration="1" data-purecounter-currency="false" data-purecounter-currencysymbol="%" class="purecounter" data-purecounter-separator="true" data-purecounter-decimals="0"></span>
                <p>Loading Locations</p>
            </div>

            <div class="col-lg-3 col-6 col-12 text-center msb-3 pcy-2">
                <div><i class="fa-solid fa-earth-asia"></i></div>
                <span data-purecounter-start="1" data-purecounter-end="3" data-purecounter-duration="1" data-purecounter-currency="false" data-purecounter-currencysymbol="%" class="purecounter" data-purecounter-separator="true" data-purecounter-decimals="0"></span>
                <p>Service Locations</p>
            </div>

        </div>
    </div>

<!--Counter section ENDS-->




<!--Shipping section STARTS-->

<div class="container-fluid" id="shipping">
    <div class="container">
        <div class="row psy-5 pcy-2">

            <div class="col-lg-6">
                <h4>Handling Of Shipping</h4>

                <p>FortOilStorage is committed to providing a secure, reliable, and transparent framework for shipping operations, giving clients confidence in the quality and quantity of petroleum and petrochemical products handled at all our terminals. Our shipping services are designed to support international trade and logistics, facilitating the smooth import and export of crude oil, refined products, and other liquid fuels while fully complying with global regulatory and procedural requirements.</p>

                <p>Our operations leverage state-of-the-art multimodal shipping solutions, including air, ocean, and intermodal freight, to meet the diverse needs of businesses and individuals worldwide. With experienced professionals who bring extensive expertise in international trade and logistics, FortOilStorage delivers fully integrated supply chain solutions, ensuring that products move efficiently and safely across global networks. Our focus on reliability, flexibility, and customer-centric service makes us a trusted partner for energy and chemical logistics worldwide.</p>
            </div>

            <div class="col-lg-6 col-12 d-none d-md-block">
                <img src="{% static 'pictures/services2.jpg' %}" class="d-block w-100" alt="...">
            </div>

        </div>
    </div>
</div>


<!--Shipping section ENDS-->

<!--Terminals section STARTS-->

<div class="container-fluid" id="terminal">
    <div class="container">
        <div class="row psy-5">

            <div class="col-lg-6">
                <img src="{% static 'pictures/services3.jpg' %}" class="d-block w-100" alt="...">
            </div>

            <div class="col-lg-6 pst-3">
                <h4>Corporate Governance</h4>

                <p>FortOilStorage manages strategically located oil terminals in Singapore and around the world, providing critical connections between the supply and demand of essential energy products. Our terminals are carefully selected to meet the storage and logistical needs of today and tomorrow, offering clients flexible, secure, and reliable infrastructure. Positioned in the heart of Asia's largest port and industrial complex, our Singapore terminal allows customers to benefit from seamless access to major shipping routes and refining hubs.</p>

                <p>Our global network of modern liquid bulk terminals continues to expand, with state-of-the-art facilities in Singapore, the Netherlands, Fujairah, and Houston. These terminals provide adaptable solutions for handling a wide range of petroleum, petrochemical, and specialty liquid products. By continuously upgrading and expanding our platform, FortOilStorage ensures that clients worldwide can rely on secure, efficient, and innovative terminal services for their energy logistics needs.</p>

            </div>

        </div>
    </div>
</div>


<!--Terminals section ENDS-->


{% endblock %}